
.header.center
  %h1.hide-text Metalica - Through the Never
  %h2.hide-text iMax 3D 9/27/13
  %h3.hide-text Theatres Everywhere 10/4/13

.page
  .row.page-spacing
    .common-tagline
      %h4.hide-text
        Get tix for Metallica's 3D movie Through The Never and
        stream their entire catalog only on Spotify

    %h3 WATCH THE TRAILER

  .row
    .half-wide.left
      .video
        %iframe(src="http://player.vimeo.com/video/70571404?&title=0&byline=0&portrait=0&color=480100" width="441" height="248" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
      .page-spacing
        %h3 BUY TICKETS NOW
        %h4.common-dates.hide-text
          iMax 3D 9/27/13 | Theatres Everywhere 10/4/13

        .tickets
          .common-divider-alt

          %iframe(src="http://spotify.throughthenevermovie.com" width="400" height="250" frameborder="0" scrolling="no")

    .half-wide.right

      .playlists

        %h3 PLAYLISTS

        .row
          .black-box
          .fourth-wide.left
            .common-frame
              .portrait-james
          .half-wide.left.top-spacing
            %h5 James Hetfield
            .common-divider
            %h6 Vocals, Guitar
          .fourth-wide.right.top-spacing
            %a.common-listen(href='spotify:user:metallicaofficial:playlist:0QnnoJ5gQjdM6i6xVPUCCr') Listen
            -#8/30
        .row
          .black-box
          .fourth-wide.left
            .common-frame
              .portrait-robert
          .half-wide.left.top-spacing
            %h5 Robert Trujillo
            .common-divider
            %h6 Bass, Background Vocals
          .fourth-wide.right.top-spacing
            %a.common-listen(href='spotify:user:metallicaofficial:playlist:5zqWU11no7jMADClCYwICR') Listen
            -#9/7
        .row
          .black-box
          .fourth-wide.left
            .frame
              .portrait-lars
          .half-wide.left.top-spacing
            %h5 Lars Ulrich
            .common-divider
            %h6 Drums
          .fourth-wide.right.top-spacing
            .heading Coming Soon
            -#8/27
        .row
          .black-box
          .fourth-wide.left
            .frame
              .portrait-kirk
          .half-wide.left.top-spacing
            %h5 Kirk Hammett
            .common-divider
            %h6 Guitar, Background vocals
          .fourth-wide.right.top-spacing
            .heading Coming Soon

  .page-spacing
    %h3#albums ALBUMS

.albums.center
  .slider
    -(1..14).each do |i|
      .common-slide
        = partial 'album', locals: { i: i }

.page


  .row.review
    .half-wide.left
      .common-frame-alt
        %img(src='images/review/kill_em_all.jpg' alt='')
    .half-wide.right.side-spacing.scroll-box
      %h5.red Metallica's 'Kill 'Em All' at 30: Track-By-Track

      %p
        By Mick Stingley, Billboard
        %br/
        July 25, 2013

      %p
        %h6 Here's our track-by-track look back at Metallica's classic debut, which changed the face of metal 30 years ago this week.
      %p In the summer of 1983, metal was in a state of flux. The year prior, English titans Judas Priest had released "Screaming for Vengeance" and broke into the top 20 of the Billboard with a slick, commercial hard rock sound that broke through the gates watched by Men at Work and the Human League. Quiet Riot had dropped "Metal Health" in first-quarter 1983, which, along with Def Leppard’s "Pyromania," signaled that metal's mainstream popularity was on the rise. But choices for the average American male teen rock fan remained limited. British new wave acts like Duran Duran and Adam Ant still owned the charts. Punk rock had evolved into hardcore, music that was fast and aggressive with lyrics that chiefly concentrated on either politics or positivity. The New Wave of British Heavy Metal that was on the rise in the late '70s hadn't connected with the mainstream in the States. It did, however, make an impact on the underground and the members of a certain California rock band.
      %p James Hetfield, Lars Ulrich, Cliff Burton and Kirk Hammett might have looked like a group of vapid, lank-haired kids, but they would change the face of music forever with "Kill 'Em All," its Megaforce debut, which was released 30 years ago this week in July of 1983. (Metallica had originally planned to call it "Metal Up Your Ass," but the record company balked.)
      %p Combining the speed of punk heroes the Ramones, American hardcore and the fury of NWOBHM bands like Mötörhead, and saturated with blistering solos inspired by Judas Priest, Metallica captured attention with a sound now known as thrash metal. The songs were written by Ulrich, Hetfield and then-guitarist Dave Mustaine, who was famously fired shortly before the band hit the recording studio and replaced by Exodus guitarist Hammett. (Getting the sack turned out to be the proverbial blessing in disguise for Mustaine, who founded Megadeth shortly afterward.)
      %p
        %h6 "Hit the Lights"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:4Pn6l1ZzsYFrx64h1gWTyy", :width => "390"}
      %p
      %p Nothing in metal has been the same since "Hit the Lights" kicked off the album. Hetfield declares, "No life 'til leather/We’re gonna kick some ass tonight." With lightening lead guitars and throbbing drums, the lyrics helped define what Metallica was all about: metal, rocking out and giving it all to the audience during a show. In many ways, this is the band’s "Rock and Roll All Night."
      %p
        %h6 "The Four Horsemen"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:3O8Ntjn2ZsB6SI24KTAVtL", :width => "390"}
      %p
      %p The Four Horsemen of the Biblical apocalypse is an archetype for Hetfield, Burton, Ulrich and Hammett themselves. Looking back, it makes perfect sense: At the time the song was ever-so-slightly evil-sounding and flat-out exciting for young fans discovering metal and bands like Black Sabbath.
      %p
        %h6 "Motorbreath"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:4mj0z6mFrnzG52eBJm65K2", :width => "390"}
      %p
      %p The chugging guitar onslaught combined with breakneck drums is the quintessential song to bang your head to. "Life in the fast lane . . . hard and heavy/It’s dirty and mean," Hetfield sings, punctuating the track's sonic intent.
      %p
        %h6 "Jump in the Fire"
        \
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:6p3NDplOaGWddzEbOcpTsT", :width => "390"}
      %p
      %p The original lyrics from the album's second single, which was co-written by Mustaine, were supposedly about sex, although it’s hard to imagine Metallica singing about that topic. Instead, "Jump in the Fire" is told from Satan's perspective as he watches people commit acts that damn their souls to hell: "Now it is time for your fate and I won't hesitate to pull you down into this pit/So come on/Jump in the fire."
      %p
        %h6 "(Anesthesia) - Pulling Teeth" (instrumental)
        \
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:4ueLr3amegc07YVKqTdlHk", :width => "390"}
      %p
      %p There's a reason that Burton, who tragically died in a 1986 bus accident while Metallica was touring in Sweden, is so revered. His sole writing credit on the album is this bass solo, which he played with a wah pedal and sounded, to many ears, like a guitar. The Eddie Van Halen of bass, this song was Burton's "Eruption."
      %p
        %h6 "Whiplash"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:0llXksyxjNlDB9vOcETZi0", :width => "390"}
      %p
      %p This was the album's first single, and the introduction to the band for most fans. In another ode to headbanging, the sheer speed and brief, catchy chorus say it all: "You're thrashing all around/Acting like a maniac—whiplash."
      %p
        %h6 "Phantom Lord"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:4wwwyAIhSxYX38HUKtxeiU", :width => "390"}
      %p
      %p The ominous opening of this song heralds a thrash attack like no other on the record. It’s all about the riff until the first solo break, which slows things down at the 2:30 mark, then revs it up again for more leads and heavy riffing. As another Mustaine co-write, it's one he should be proud of. Incredible.
      %p
        %h6 "No Remorse"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:6axXJOSOdJUcVSxTHF0rsb", :width => "390"}
      %p
      %p A pretty slow song by Metallica standards, this nasty little number chugs along at a nice pace and showcases Hammett’s insane mastering of the upper neck of his guitar.
      %p
        %h6 "Seek & Destroy"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:1LDAh7QQnWvp3GJ9QDa1Pj", :width => "390"}
      %p
      %p This song, now a staple at Metallica concerts, is the first one the band recorded. It's also known to sports fans as the exemplary announcement of impending doom and destruction. Covered by many, it stands as a Metallica classic.
      %p
        %h6 "Metal Militia"
      %iframe{:frameborder => "0", :height => "80", :src => "https://embed.spotify.com/?uri=spotify:track:5z2cUmKURiGTnNWlVcyC8G", :width => "390"}
      %p
      %p The album closer is a brutal call to arms for metal fans. For those who felt marginalized for their love of the genre, this was one more fist in the face of convention that beckoned fans to unite with the band. Hetfield leads the charge with a fierce growl: "We are as one as we all are the same/Fighting for one cause/Leather and metal are our uniforms/Protecting what we are/Joining together to take on the world/With our heavy metal."

      %p
        <a href="http://www.billboard.com/articles/review/4639184/metallicas-kill-em-all-at-30-track-by-track" target='_blank'>http://www.billboard.com/</a>

.spacer(style="height: 115px")
  %br/


